@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif;
    transition: 1.2;
}



.navbar{
    background-color: #128612;
    overflow: hidden;
}

.logo-warp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    width: 60px;
}


.logo-warp img{
    width: 55px;
    height: 55px;
}

.navar-brand-warp{
    display: flex;
    align-items: center;
    justify-content: center;
}

.brand-name{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.brand-name h1{
    font-size: 16px;
    color: white;
    margin: 0;
}

.brand-name p{
    font-size: 12px;
    color: white;
    margin: 0;
}


.nav-link{
    color: white !important;
    font-size: 14px;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;

}

.nav-link:hover{
   scale: 1.1;
   transition: 0.5s;
}


.user{
    display: flex;
    align-items: center;
    justify-content: end;
    color: white;
    font-size: 12px;
    font-weight: 500;
    padding-right: 50px;
    cursor: pointer;
}

.user-icon-warp{
    border-radius: 100%;
    background-color: white;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-icon-warp i{
    font-size: 25px;
    color: #128612;
}

.user-name{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user-name p{
    margin: 0;
    color: white;
    font-size: 12px;
}

.user-name a{
    margin: 0px  5px ;
    color: white;
    font-size: 12px;
    text-decoration: none;
    
}

.user-name a:hover{
    scale: 1.1;
    transition: 0.5s;
    color: white;
}

.user-edit{
    display: flex;
}


.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    border-bottom: 3px solid #128612;
    width: 500px;

    margin-bottom: 70px;
}

.title h1{
    font-size: 40px;
    font-weight: bold;
    color: #3C4043;
}

.form-data-pasien{
    background-color: #E0E1E1;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    padding-bottom: 20px;
    margin-bottom: 60px;
}


.p20px {
    padding: 20px;
}

.data-warp{
    display: flex;
    flex-direction:column;
    margin-bottom: 10px;
}

.data-warp label{
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    font-weight: bold;
    margin-bottom: 5px;
}

.data-warp input, textarea{
    border-radius: 5px;
    border: 1px solid #E0E1E1;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #000000;
    font-weight: bold;
    margin-bottom: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


.data-warp input:focus, textarea:focus{
    outline: none;
    border: 2px solid #128612;
    transition: 0.5s;
}

.btn-warp button{
    background-color: white;
    outline: none;
    border: 2px solid #128612;
    border-radius: 5px;
    color: #000000;
    font-size: 14px;
    margin-left: 20px;
    padding: 5px 10px;
}


.btn-warp button:hover{
    background-color: #128612;
    transition: 0.5s;
    color: white;
}